body{
	background-image: url("Lituya_Bay_Alaska.jpg");
	margin: 5px;
<<<<<<< HEAD
=======
}
a{
	text-decoration: none;
>>>>>>> 1d1d4e4001a30baea4ffb766178c32b74dd1bca7
}
/*Page HOME*/

/*Debut HEADER*/
header{/*Même propriétés que stylesA.css*/
	background: white;
	border-bottom: 5px double #052942;

}
h1{
	font-family: 'Dancing Script', cursive;
	color:#041F33;
	font-size: 3.2em;
	margin: auto;
	text-align: center;
}
h2{	
font-size: 1.6em;
}
#headR_Home{
	height:120px;
	background: white;
	display: flex;
	flex-direction: column;
	width:65%;
	
}
<<<<<<< HEAD

=======
nav{
	margin: auto;
	width: 40%;
}
ul{ 
	list-style-type: none; 
	background-color: #052942;
	margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    max-height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
ul li:hover{
	border-bottom: : solid 2px #052900;
}
nav a{
	color:white;
}

nav a:hover{
	color:white;
}
/*#lower_Deco{
}
#line_Ink{
}*/
>>>>>>> 1d1d4e4001a30baea4ffb766178c32b74dd1bca7
#deco_In_Header{
	height: 50px;
	width: 85px;
	transform:scaleX(-1);
}

/*Fin HEADER*/
section{
	background:rgba(255,255,255,0.8);
<<<<<<< HEAD
	height: 675px;
/*	height:75%;*/
=======
	/*height: 675px;*/
	height:75%;
>>>>>>> 1d1d4e4001a30baea4ffb766178c32b74dd1bca7
}

#sideDeco{/*Div contenant aside et article*/
	margin: auto;
	background: white;
	width:80%;
	height: inherit;
	border-left: solid #052942;
	border-right:  solid #052942;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}
/*Article*/

h3{
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 1.1em;
}
#chaps{
	margin: 5px;
	width: 70%;
	margin: auto;
	border-left: solid 2px #052942;
	border-right: solid 2px #052942;
}
#chaps p{
	padding: 5px;
	text-align: justify;
}

/*Fin article/ END ARTICLE*/

/*DEBUT ASIDE*/
h4{
	margin:0px;
	text-align: center;
	font-size:1.2em; 
    border: solid 1px;
    background: #5cadd380;
}
aside{
	display: flex;
	flex-direction: column;
	margin: 5px;
	border-bottom:solid #052942 2px;
	height: 240px;
<<<<<<< HEAD
=======
	width: 40%
}
.last_Comm{
	width: 100%;
>>>>>>> 1d1d4e4001a30baea4ffb766178c32b74dd1bca7
}
/*.last_Comm{
	width: 100%;
}*/
#block{/*Container for both aside part*/
	display: flex;
	flex-direction: column;
	text-align: justify;
	overflow: auto;
	justify-content: space-around;
	width:25%;
	height: 675px;
	margin: auto;
}
.new_Note{/*This part is all about note on home.html, no buttons */
	text-align: justify;
	font-family: 'Helvetica';
	font-size: 0.9em;
	margin:0px;
	padding: 5px;
	overflow: auto
}
.all_Buttons{
	display: flex;
	justify-content: center;
	margin: auto;
	height: 35px;
	width: 33%;
}
.add_Comms, .showC, .hideC{
	font-size: 0.7em;
	text-align: center;
	margin: 2px;
}
.comms{/*This part is about the last 2 comments add on the page. Change will be operated on javascript page*/
display: none;
}
.show_Comms{
	margin: 0px;
}
/*FIN ASIDE*/

/*Fin de section*/
footer{
	background:#5cadd395;
	border: double #052942 5px;
	/*height: 120px;*/
}
footer p{
	margin: 0px;
}

p.bottom{
	margin: auto;
	margin-top: 5px;
	display: flex;
    justify-content: center;
}

.bottom a{
	color:white;
	text-transform: uppercase;
}
#mentions_Infos{
	display: flex;
	justify-content: space-around;
	text-align: left;
	height: 140px;

}
#mentions_Infos h4{
	text-align: center;
	font-size: 1em;
	border:0px;
	margin: 0px;
	background: rgba(255,255,255,0.5);
}
#comptes_inscriptions,#contacts,#last_bill{
	width:33%;
	background: #5cadd3;
	overflow: auto;

}

#comptes_inscriptions, #contacts,#last_bill{
	border-right: solid 2px #052942;
	height:inherit;
}
#contacts ul{
	background-color: inherit;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding:0px;
}
h5{
	margin:0px;
	text-align: center;
	font-size: 0.9em;
}
/*Fin Page HOME*/

/*beginning of inscription.php*/
#secondSideDeco{/*this "div" is pretty much the same as sideDeco, but it only on the inscription.php */
	margin: auto;
	background: white;
	width:80%;
	height: inherit;
	border-left: solid #052942;
	border-right:  solid #052942;
	display: flex;
	flex-direction: column;
	align-items: center;
}
 #rules{
	margin: auto;
	width: 55%;
	border-bottom: double 5px #052942;
}
#formulaire{
	width: 55%;
	margin: auto;

}
form{
	display: flex;
	flex-direction: column;
	width: 80%;
	font-family: 'Arial';
}
form input{
	width:50%;
}
/*---CHAPTERS---*/
h5 a{
	font-family: 'Helvetica';
	font-size: 1.2em;
	color: white;
	margin: 0px;
}
h5{
	
	background: #052942;
}


#introChapters{
	height:110px;
	text-align: center;
	width: 80%
}
#seleChap{
margin-top: 10px;
}
.sumChapters{
	width: inherit;
	margin: 0px;
}
.thumbnail{
	border: inset 5px #052942;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}