body{
	background-image: url("Lituya_Bay_Alaska.jpg");
}
a{
	text-decoration: none;
}
/*Page HOME*/

/*Debut HEADER*/
header{/*Même propriétés que stylesA.css*/
	background: white;
	border-bottom: 5px double #052942;

}
h1{
	font-family: 'Dancing Script', cursive;
	color:#041F33;
	font-size: 3.2em;
	margin: auto;
	text-align: center;
}
h2{	
font-size: 1.6em;
}
#headR_Home{
	height:120px;
	background: white;
	display: flex;
	flex-direction: column;
	width:65%;
	
}
nav{
	width: 35%;
}
ul{ 
	list-style-type: none; 
	background-color: #052942;
	margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    max-height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
ul li:hover{
	border-bottom: : solid 2px #052900;
}
nav a{
	color:white;
}

nav a:hover{
	color:white;
}
#lower_Deco{
}
#line_Ink{
}
#deco_In_Header{
	height: 50px;
	width: 85px;
	transform:scaleX(-1);
}

/*Fin HEADER*/
section{
	background:rgba(255,255,255,0.8);
	height: 675px;
}
#sideDeco{/*Div contenant aside et article*/
	margin: auto;
	background: white;
	width:80%;
	border-left: solid #052942;
	border-right:  solid #052942;
	display: flex;
	flex-direction: row-reverse;
}
/*Article*/
#chaps{
	margin: 5px;
	width: 70%;
	border-left: solid 2px #052942;
	border-right: solid 2px #052942;
}

.Chapters{
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 1.1em;
}
#chaps p{
	padding: 5px;
	text-align: justify;
}

/*Fin article/ END ARTICLE*/

/*DEBUT ASIDE*/
h4{
	margin:0px;
	text-align: center;
	font-size:1.2em; 
    border: solid 1px;
    background: #5cadd380;
}
aside{
	display: flex;
	flex-direction: column;
	margin: 5px;
	border-bottom:solid #052942 2px;
	height: 220px;
}
#block{/*Container for both aside part*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:25%;
	height: 675px;
}
.new_Note{/*This part is all about note on home.html, no buttons */
	text-align: justify;
	font-family: 'Helvetica';
	font-size: 0.9em;
	margin:0px;
	padding: 5px;
}
.all_Buttons{
	display: flex;
	justify-content: center;
	margin: auto;
	height: 35px;
	width: 33%;
}
.add_Comms, .showC, .hideC{
	font-size: 0.7em;
	text-align: center;
	margin: 2px;
}
.comms{/*This part is about the last 2 comments add on the page. Change will be operated on javascript page*/
display: none;
}
.show_Comms{
	margin: 0px;
}
/*FIN ASIDE*/

/*Fin de section*/
footer{
	background:#5cadd395;
	border: double #052942 5px;
	height: 120px;
}
h3{
	font-family: 'Dancing Script', cursive;
	font-size: 0.9em;
	margin:auto;
}
p.bottom{
	margin: auto;
	display: flex;
    justify-content: center;
}
.bottom a{
	color:white;
	text-transform: uppercase;
}
#mentions_Infos{
	display: flex;
	justify-content: space-around;
	text-align: left;

}
#mentions_Infos h3{
	text-align: center;
}
#comptes_inscriptions,#contacts,#last_News{
	width:33%;
	background: #5cadd3;
}
#comptes_inscriptions, #contacts{
	border-right: solid 2px #052942;
	padding-right: 5px;
}
#contacts ul{
	background-color: inherit;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding:0px;
}
/*Fin Page HOME*/