nav ul{ 
	list-style-type: none; 
	background-color: #052942;
	margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    max-height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
ul li:hover{
	border-bottom: : solid 2px #052900;
}
nav a{
	color:white;
}

nav a:hover{
	color:white;
}