body{
	background-image: url("Lituya_Bay_Alaska.jpg");
	margin: 5px;
}
/*Page HOME*/

/*Debut HEADER*/
header{/*Même propriétés que stylesA.css*/
	background: white;
	border-bottom: 5px double #052942;
	height: 165px;

}
h1{
	font-family: 'Dancing Script', cursive;
	color:#041F33;
	font-size: 3.2em;
	margin: auto;
	text-align: center;
}
h2{	
font-size: 1.6em;
}
h3{/*Article*/
	margin:2px;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}
h4{/*footer and aside*/
	font-family: 'Courgette', cursive;
	margin:0px;
	text-align: center;
	font-size:1.2em; 
    border: solid 1px;
   background: #0B8AA1;
	color:white;
}
h5{
	background: #052942;
	margin:5px;
}
p{
	font-family: 'Raleway', sans-serif;
}
#headR_Home{
	height:120px;
	background: white;
	display: flex;
	flex-direction: column;
	width:65%;
	margin: auto;
	
}
#nav_Log{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#deco_In_Header{
	height: 50px;
	width: 85px;
	transform:scaleX(-1);
}

/*Fin HEADER*/
section{
	background:rgba(255,255,255,0.8);
	/*height: 790px;*/
}

#sideDeco{/*Div contenant aside et article*/
	margin: auto;
	background: white;
	width:80%;
	height: inherit;
	border-left: solid #052942;
	border-right:  solid #052942;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}
/*Article*/

#chaps{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
	width: 70%;
	border-left: solid 2px #052942;
	border-right: solid 2px #052942;
}
#chaptersColumns{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 620px;
}
#chaps p{
	font-size: 0.8em;
	margin: 0px;
	padding: 5px;
	text-align: justify;
}
.lastsChapts{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height:150px;
	width: 85%;
}
.lastsChapts a{
	color:#0B8AA1;
	font-size: 1em;
	font-family: 'Raleway';
}
#imgThumb{
	height: inherit;
	border: solid #052942 2px;
	border-radius: 10px;
}
/*Fin article/ END ARTICLE*/

/*DEBUT ASIDE*/

aside{
	display: flex;
	flex-direction: column;
	margin: 5px;
	border-bottom:solid #052942 2px;
	height: 240px;
	overflow: auto;
}

#block{/*Container for both aside part*/
	display: flex;
	flex-direction: column;
	text-align: justify;
	
	justify-content: space-around;
	width:25%;
	height: 675px;
	margin: auto;
}
.new_Note{
	font-size: 0.9em;
}
/*FIN ASIDE*/

/*Fin de section*/
footer{
	background:#5cadd395;
	border: double #052942 5px;
	height: 120px;
}
footer h4{
font-size: 1em;
	border:0px;
	margin: 0px;
	background: #052942;
	color:white;
}
footer p{
	margin: 0px;
}

p.bottom{
	text-align: center;
  	font-family: 'Raleway', sans-serif;
  	display: flex;
  	flex-direction: column;
}

.bottom a{
	color:white;
	text-transform: uppercase;
}

#mentions_Infos{
	display: flex;
	height: inherit;
}



#comptes_inscriptions,#contacts,#last_billet{
	width:50%;
	background: #0B8AA1;
	overflow: auto;
	border-right: solid 2px #052942;
	height:inherit;

}
#contact{
	background-color: inherit;
	display: flex;
	align-items: center;
	
}
#contact p{
font-size: 1em;
}
h6{
	margin:0px;
	text-align: center;
	font-size: 0.9em;
}
/*Fin Page HOME*/
#authorDeco{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/*beginning of inscription.php*/
#secondSideDeco{/*this "div" is pretty much the same as sideDeco, but it only on the inscription.php */
	margin: auto;
	background: white;
	width:80%;
	height: inherit;
	border-left: solid #052942;
	border-right:  solid #052942;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*overflow: auto;*/
}
#subBlock{
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    width: 80%;
    height: 500px;
    padding:10px;
    border:#052460 inset 5px;
    background: rgba(37,138,161, 0.2);
}
 #rules{
	margin: 10px;
	width: 80%;
	border-bottom: double 5px #052942;
}
.formulaires{
	width: 80%;
	margin: auto;

}
form{
	display: flex;
	flex-direction: column;
	width: 80%;
	font-family: 'Arial';
}
form input{
	width:50%;
	float: right;
}
/*---CHAPTERS---*/
h5 a{
	font-family: 'Helvetica';
	font-size: 1.2em;
	color: white;
	margin: 0px;
}

#introChapters{
	height:110px;
	text-align: center;
	width: 80%
}
#seleChap{
margin-top: 10px;
width: 100%;
}
.sumChapters{
	width: inherit;
	margin: 0px;
}
.thumbnail{
	border: inset 5px #052942;
	border-radius: 5px;
	margin: auto;
	padding: 5px;
	width: 85%;
	margin-bottom: 1px;
}
/*---CHAPTER---*/
#chapterText h2{
	text-align: center;
}

#chapterText{
	text-align: justify;
	padding-right: 50px;
	padding-left: 50px;
}
#chapterSideDeco{
	margin: auto;
	background: white;
	width:80%;
	/*height: inherit;*/
	border-left: solid #052942;
	border-right:  solid #052942;
	display: flex;
	flex-direction: column;
/*	overflow: auto;*/
}
aside #showComms{
	overflow: unset;
}
/*SCROLL BAR*/
/* width */
/*::-webkit-scrollbar {
    width: 10px;
}
*/
/* Track */
/*::-webkit-scrollbar-track {
    background: #f1f1f1; 
}*/
 
/* Handle */
/*::-webkit-scrollbar-thumb {
    background: #888; 
}*/

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
    background: #555; 
}*/
.commChapter{
color: black;
margin:auto;
width: 80%
}
.membreComm{
	
	font-size: 1em;
	margin:2px;

}
.signaler{
	color:#0B8AA1;
	font-size: 0.9em;
	font-style: italic;
	padding-left: 5px;
}
/*FORM ADMIN*/
#AdminConnexion{
	background: white;
    border: #052942 2px inset;
    margin: auto;
    width: 60%;
    padding: 10px;
}
#headband{
	background: white;
	border-bottom: double #052942 5px;
	display: flex;
    justify-content: space-between;
    padding:5px;
}
#lastChapUpDate{
	width: 45%;

}
#lastCommUpDate{
	width:45%;
}
#lastChapUpDate p, #lastCommUpDate p{
font-size: 0.8em;
}
.maj{
	text-transform: uppercase;
}
#adminPannel{
	display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}
#gestionBlock{
	width:25%;
	height:inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#WrittingChap{
	background: white;
	width: 75%;
    border-left: 2px #052942 solid;
    padding: 5px;
}
.attentionRequired{
	color: #258aa1;
    font-style: italic;
}